.search {
  z-index: 1;
  margin: 50px;

  h1 {
    text-align: center;
    font-size: 50px;
  }

  input {
    text-align: center;
    font-size: 35px;
    height: 60px;
    border-radius: 50px;
  }
}

.movieContainer {
  min-height: 541px !important;
}
